body {margin:center;}

h1 {
    text-align: center;
}

.navigationbar {
	overflow: hidden;
	background-color: black; 
	float: center;
	text-align:center;
	display: block;
	padding: 15px 16px;
	font-size: 30px; 
}

.navigationbar a:hover {
	background-color: white;
	color:black;
}

